.profile-container {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
  }
  @media (min-width: 768px) {
    .profile-container {
      height: 200px;
      width: 350px;
    }
  }
  .profile {
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
  }
  @media (min-width: 768px) {
    .profile {
      height: 200px;
    }
  }
  .retry-button {
    background-color: #4f46e5;
    color: #ffffff;
    outline: none;
    width: 100px;
    height: 30px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    align-self: center;
  }
  @media (min-width: 768px) {
    .retry-button {
      height: 50px;
    }
  }
  .profile-img {
    width: 60px;
    height: 50px;
    padding-top: 10px;
  }
  @media (min-width: 768px) {
    .profile-img {
      width: 100px;
      height: 80px;
    }
  }
  .profile-heading {
    font-size: 14px;
    color: #6366f1;
    font-family: 'Roboto';
  }
  @media (min-width: 768px) {
    .profile-heading {
      font-size: 20px;
    }
  }
  .profile-description {
    color: #475569;
    font-size: 12px;
    font-family: 'Roboto';
  }
  @media (min-width: 768px) {
    .profile-description {
      font-size: 18px;
    }
  }
  